<main>
  <div class="calculator-div">
    <h2 class="calculator-header">Rovers Information</h2>

    <input type="number" id="roverCount" placeholder="Rover Count">
    <button (click)="generateRovers()">Generate Rovers</button>
    
    <table>
      <thead>
        <tr>
          <th>Rover Name</th>
          <th>Coordinates</th>
          <th>Direction</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rover of roverList">
          <td>{{ rover.id }}</td>
          <td>{{ rover.coordinates }}</td>
          <td>{{ rover.direction }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
