.calculator-div
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10vh;
}

label
{
  color: aliceblue;
}

.calculator-header
{
  color: aliceblue;
}

table
{
  border-color: aliceblue;
}