<header>
  <nav>
    <div class="nav-header">
      <h4 class="rover-challenge-header">Rover Challenge</h4>
    </div>
    <div class="nav-links">
      <ul>
        <li>
          <a routerLink="/home-page" routerLinkActive="active" ariaCurrentWhenActive="page" class="signIn">
            Home
          </a>
        </li>
  
        <li>
          <a routerLink="/calculator" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-elements">
            Coordinate Calculator
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>